<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile1_01_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,416},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_02_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,347},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_03_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,278},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_04_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,209},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_05_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_06_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_07_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_08_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_09_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,416},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_10_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,347},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_A_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,278},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_B_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,209},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_C_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_D_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_E_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_F_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_G_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_H_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,416},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_I_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,347},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_J_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,278},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_K_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,209},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_L_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_M_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_N_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_O_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_P_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_Q_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_R_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_S_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_T_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_U_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_V_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_W_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_X_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_Y_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_Z_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>tile1_blank_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tile.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61d178f96dbde01189101426d3d82236$</string>
            <key>textureFileName</key>
            <string>tile.png</string>
        </dict>
    </dict>
</plist>
